html,body {
font-family:Arial;
background:#222;
}

.box-login {position:fixed;right: 0;width:250px;background:#FFF;border-radius:10px;padding:10px;margin:10%}
.box-login input {width:90%;display:block;margin:10px 0;padding:5px;}
.box-login button {background:#222;display:block;width:calc(100% - 10px);padding:10px;text-align:center;color:#FFF;font-weight:bold;} 
